<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-searchbar placeholder = "search" showCancelButton = "always" animated = true autocomplete = true  autocorrect = true></ion-searchbar> -->
  <ion-toolbar>
    <ion-searchbar animated=true autocomplete="on" autocorrect="on"></ion-searchbar>
  </ion-toolbar>


<ion-list *ngFor="let listing of listing">
  <ion-item>
    <ion-card>
      <ion-img style="width: 300px; height: 200px" src= {{listing.imgUrl}}></ion-img>
      <ion-label>{{listing.name}}</ion-label>
      <ion-card-content>
        {{listing.location}} <br>
        Price: {{listing.price}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>


  <div class="center">
    <ion-button (click)="navigateToNewListing()" color="danger">Add Listing</ion-button>
  </div>

  <ion-tabs slot = "bottom">
    <ion-tab-bar slot = "bottom">

      <ion-tab-button (click)="navigateToProfile()" tab="profile">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigateToExplore()" ab="explore">
        <ion-icon name="map"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- The bottom tab bar -->
</ion-content>