<ion-header>
  <ion-toolbar>
    <ion-title>Airbnb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login">
    <h1>Welcome Back!</h1>
    <br>
   
    <ion-input placeholder="Username or Email"></ion-input>
    <ion-input placeholder="Password"></ion-input>

  <ion-button (click)="navigateToExplore()" color="primary">Login</ion-button>
  <ion-button (click)="navigateToExplore()" color="primary">Register</ion-button>

  <ion-input [(ngModel)] = "name" ></ion-input>

  <div>
    {{name}}
  </div>
  </div>
</ion-content>